# {{ ansible_managed }}

[mysqld]
server_id = {{ percona_server_server_id }}

{% if percona_server_log_bin is defined %}
log_bin = {{ percona_server_log_bin }}
{% endif %}
{% if percona_server_log_bin_index is defined %}
log_bin_index = {{ percona_server_log_bin_index }}
{% endif %}
{% if percona_server_sync_binlog is defined %}
sync_binlog = {{ percona_server_sync_binlog }}
{% endif %}

{% if percona_server_relay_log is defined %}
relay_log = {{ percona_server_relay_log }}
{% endif %}
{% if percona_server_relay_log_index is defined %}
relay_log_index = {{ percona_server_relay_log_index }}
{% endif %}
{% if percona_server_sync_relay_log is defined %}
sync_relay_log = {{ percona_server_sync_relay_log }}
{% endif %}

report_host = {{ percona_server_report_host }}

read_only = {{ 1 if percona_server_read_only else 0 }}
skip_slave_start = {{ 1 if percona_server_skip_slave_start else 0 }}
