---
sudo: required
dist: trusty

language: python
python: "2.7"

env:
  - ANSIBLE_VERSION=latest
  - ANSIBLE_VERSION=2.2.1.0
  - ANSIBLE_VERSION=2.2.0.0
  - ANSIBLE_VERSION=2.1.4
  - ANSIBLE_VERSION=2.1.3
  - ANSIBLE_VERSION=2.1.2
  - ANSIBLE_VERSION=2.1.1.0
  - ANSIBLE_VERSION=2.1.0.0
  - ANSIBLE_VERSION=2.0.2.0
  - ANSIBLE_VERSION=2.0.1.0
  - ANSIBLE_VERSION=2.0.0.2
  - ANSIBLE_VERSION=2.0.0.1
  - ANSIBLE_VERSION=2.0.0.0
  - ANSIBLE_VERSION=1.9.6

branches:
  only:
    - master

before_install:
  - sudo apt-get update -qq

  # Remove mysql-*
  - sudo apt-get remove --purge --yes 'mysql-*'

install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible-lint; fi

script:
  # Check the role/playbook's syntax.
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check

  # Run the role/playbook with ansible-playbook.
  - ansible-playbook -i tests/inventory tests/test.yml -vvvv

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/test.yml
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  - if [ "$ANSIBLE_VERSION" = "latest" ]; then ansible-lint tests/test.yml || true; fi

notifications:
  email: false
  hipchat:
    rooms:
      secure: cvnHmJmT0rLctOszRLuZqTfSxVPfk9VvKHsKpKJntvQ5d6KvZKj8Pq8Wbnj4TeUxgOWJiWDycHTOWxxEzXJQDR4mqPv1Hlj+VZTzIjkWS+PZNQys429zTqBfQrDm62nAMHfoX7OOH4FKMVS8zoliwMPMXg0zSGcYu+MJeea12XpJ7G5E9iYQEiGv/sXZ8R0DxWgGlGcaQ+qML3cfNfH1XJs5UJnG4m74ATjWc3whz98BkCrQe0i/yQy7prjq6vtM6cTKUsnFmONNZI58iogtxMRtyw3pRnXYcMnWAA77M1Hs5O5b0UGglfNv7hbCTsOaQNYGbZem148KDF8HVxOPIYlcnub7qPZ83CSqMYnZtUItWSFk6X/6JeYrBxEWChE3xoq8r27Xyt6g1BotK0bf81U8LDHW8grnVprBJPM8BYw0skVrzcLX7fwsqj/evvxgMbtLjAbDkCh9YyW7ww89URuUk9KI1RW1KFIL1y2uID2Kw15Bmkgf+Yt+XObkYCA+nrSvA11iff+DR+Y4RDErGkkTUSIovHGZiCV9qQzal7u3yGZvbrIoc+V/Cu9pOwtYBqfFKFuigf30gu+bah8bI4rJC8Zxl3E+gn+/dgbg5rWGekGTk/kGS8suNeGDOUvKfPovnvV77EOSH3jJv2tQdiS3C/KrCZ/4/2DzsTUgW8c=
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
