---
language: python
python: "2.7"

env:
  - ANSIBLE_VERSION=latest
  - ANSIBLE_VERSION=1.9.2
  - ANSIBLE_VERSION=1.9.1
  - ANSIBLE_VERSION=1.9.0.1
  - ANSIBLE_VERSION=1.8.4
  - ANSIBLE_VERSION=1.8.3
  - ANSIBLE_VERSION=1.8.2
  - ANSIBLE_VERSION=1.8.1
  - ANSIBLE_VERSION=1.8
  - ANSIBLE_VERSION=1.7.2
  - ANSIBLE_VERSION=1.7.1
  - ANSIBLE_VERSION=1.7
  - ANSIBLE_VERSION=1.6.9
  - ANSIBLE_VERSION=1.6.8
  - ANSIBLE_VERSION=1.6.7
  - ANSIBLE_VERSION=1.6.6
  - ANSIBLE_VERSION=1.6.5
  - ANSIBLE_VERSION=1.6.4
  - ANSIBLE_VERSION=1.6.3
  - ANSIBLE_VERSION=1.6.2
  - ANSIBLE_VERSION=1.6.10
  - ANSIBLE_VERSION=1.6.1
  - ANSIBLE_VERSION=1.6

branches:
  only:
    - master

matrix:
  allow_failures:
    # See https://github.com/ansible/ansible/commit/b35e1a664d574efca2a4f8022fef447bf3e1661e
    - env: ANSIBLE_VERSION=1.6.7

before_install:
  - sudo apt-get update -qq

  # Remove mysql-server and percona-server-(server|client)
  - sudo apt-get remove --purge mysql-server
  - sudo apt-get remove --purge percona-server-server percona-server-client || true

install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi

script:
  # Check the role/playbook's syntax.
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check

  # Run the role/playbook with ansible-playbook.
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo -vvvv
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo -vvvv

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

notifications:
  email: false
  hipchat:
    rooms:
      secure: cvnHmJmT0rLctOszRLuZqTfSxVPfk9VvKHsKpKJntvQ5d6KvZKj8Pq8Wbnj4TeUxgOWJiWDycHTOWxxEzXJQDR4mqPv1Hlj+VZTzIjkWS+PZNQys429zTqBfQrDm62nAMHfoX7OOH4FKMVS8zoliwMPMXg0zSGcYu+MJeea12XpJ7G5E9iYQEiGv/sXZ8R0DxWgGlGcaQ+qML3cfNfH1XJs5UJnG4m74ATjWc3whz98BkCrQe0i/yQy7prjq6vtM6cTKUsnFmONNZI58iogtxMRtyw3pRnXYcMnWAA77M1Hs5O5b0UGglfNv7hbCTsOaQNYGbZem148KDF8HVxOPIYlcnub7qPZ83CSqMYnZtUItWSFk6X/6JeYrBxEWChE3xoq8r27Xyt6g1BotK0bf81U8LDHW8grnVprBJPM8BYw0skVrzcLX7fwsqj/evvxgMbtLjAbDkCh9YyW7ww89URuUk9KI1RW1KFIL1y2uID2Kw15Bmkgf+Yt+XObkYCA+nrSvA11iff+DR+Y4RDErGkkTUSIovHGZiCV9qQzal7u3yGZvbrIoc+V/Cu9pOwtYBqfFKFuigf30gu+bah8bI4rJC8Zxl3E+gn+/dgbg5rWGekGTk/kGS8suNeGDOUvKfPovnvV77EOSH3jJv2tQdiS3C/KrCZ/4/2DzsTUgW8c=
