# {{ ansible_managed }}

{% for item in percona_server_etc_my_cnf %}

[{{ item.section }}]
{% for option in item.options %}
{% if option.name is defined %}
{% if option.value is defined %}
{{ option.name }} = {{ option.value }}
{% else %}
{{ option.name }}
{% endif %}
{% else %}

{% endif %}
{% endfor %}
{% endfor %}

{% if percona_server_etc_my_cnf_includedir is defined %}
!includedir {{ percona_server_etc_my_cnf_includedir }}
{% endif %}
