# tasks file for percona-server
---
- name: first-run | check
  shell: >
    dpkg-query -W -f='${Status}' percona-server-server-{{ percona_server_version }} | grep -q 'install ok installed'
  register: _mysqld_installed
  check_mode: no
  changed_when: false
  failed_when: false
  tags:
    - percona-server-first-run-check
